@font-face {
    font-family: 'Adam';
    src: local('ADAM.CG PRO'), url(/static/font/adam.woff2) format('woff2'), url(/static/font/adam.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light');
    src: url(/static/font/roboto.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 16px 'Open Sans';
}
h1, h2, h3, h4 {
    font-family: 'Adam';
    color: #333;
}

header, footer {
    padding: 30px;
    background: #eee;
    color: #333;
}
h1 {
    font-size: 70px;
}
main {
    padding: 30px;
}
footer {
    text-align: center;
}

ul.issues {
    list-style-type: none;
    max-width: 8in;
}
ul.issues li {
    padding: 30px 0;
}
ul.issues li h4 {
    font-size: 20px;
}
.plot {
    display: block;
    height: 30px;
    width: 800px;
    stroke: #333;
}
.plot ellipse {
    stroke: none;
}
#display {

}
