* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 16px 'Open Sans';

}
h1, h2, h3, h4 {
    font-family: 'Adam';
}

.issues li {
}

header, footer {
    padding: 30px;
    background: #eee;
    color: #333;
}
header {

}
main {
    padding: 30px;
}
footer {
    text-align: center;
}

ul.issues {
    list-style-type: none;
}
ul.issues li {

}
ul.issues li h4 {
    font-size: 20px;
}
.plot {
    display: block;
    height: 30px;
    width: 800px;
    stroke: #333;
}
.plot ellipse {
    stroke: none;
}
